<header>
    <h2>Fake Room Monitor</h2>
</header>

<main class="view-main">

    <section class="room-monitor" ng-repeat="monitor in vm.roomMonitors">
        <div class="form-group">
            <span class="label">Device Id</span>
            <span class="bold">{{ monitor.deviceId }}</span>
        </div>

        <div class="form-group">
            <span class="label">Room Name</span>
            <span class="bold">{{ monitor.name }}</span>
        </div>

        <div class="form-group">
            <span class="label">Temperature</span>
            <input ng-model="monitor.temperature" type="range" width="100" class="range" min="-20" max="120" step="1"/>
            <output>{{ monitor.temperature }}</output>
            <button ng-click="vm.setTemperature(monitor)">Set Temperature</button>
        </div>

        <div class="form-group">
            <span class="label">Detect Motion</span>
            <input ng-model="monitor.motionState" type="checkbox" ng-true-value="1" ng-false-value="0"
                   ng-click="vm.setMotion(monitor)"/>
        </div>

        <div class="form-group">
            <span class="label">Detect Smoke</span>
            <input ng-model="monitor.smokeState" type="checkbox" ng-true-value="1" ng-false-value="0"
                   ng-click="vm.setSmoke(monitor)"/>
        </div>

        <div class="form-group">
            <span class="label">Light Off/On</span>
            <input ng-model="monitor.lightState" type="checkbox" ng-true-value="1" ng-false-value="0"
                   ng-click="vm.setLight(monitor)"/>
        </div>

        <div class="form-button-group">
            <button ng-click="vm.shutdown(monitor)">Shutdown Monitor</button>
        </div>
    </section>
</main>
