<header>
    <h2>Run Job</h2>
</header>

<main class="view-runJob">

    <div class="form-group">
        <span class="label">Description</span>
        <span>{{vm.job.description}}</span>
    </div>

    <div class="form-group">
        <span class="label">Label Stock</span>
        <span>{{vm.job.labelStock}}</span>
    </div>

    <div class="form-group">
        <span class="label">Quantity</span>
        <span>{{vm.job.quantity}}</span>
    </div>

    <div class="form-group">
        <span class="label">Select Printer</span>
        <select ng-model="vm.job.printerId">
            <option ng-repeat="prn in vm.printers" value="{{prn.printerId}}">{{prn.name}}</option>
        </select>
    </div>

    <div class="form-button-group">
        <button ng-click="vm.runJob()">Run Job</button>
        <button ng-click="vm.cancel()">Cancel</button>
    </div>
</main>
