<header>
    <h2>Fake Room Monitor</h2>
</header>

<main class="view-main-fakeRoomMonitor">

    <section ng-show="vm.registerRoomMonitorFake">
        <form name="registerForm">
            <div class="form-group">
                <span class="label">Device Id</span>
                <input ng-model="vm.deviceId" type="text" width="100" maxlength="5" required autofocus/>
            </div>

            <div class="form-group">
                <span class="label">Room Name</span>
                <input ng-model="vm.name" type="text" width="100" maxlength="15" required/>
            </div>

            <div class="form-button-group">
                <button ng-click="vm.register()">Register</button>
            </div>

            <div ng-init="vm.registerForm=registerForm"></div>
        </form>
    </section>

    <section ng-show="vm.registered">
        <div class="form-group">
            <span class="label">Temperature</span>
            <input ng-model="vm.temperature" type="range" width="100" id="temperature" class="range"
                   min="-10" max="100" step="5"/>
            <output for="temperature">{{vm.temperature}}</output>
            <button ng-click="vm.setTemperature()">Set Temperature</button>
        </div>
    </section>
</main>
